.Signup {
	width: 500px;
	min-height: 100%;
	margin: 3% auto;

	h1 {
		font-size: 2rem;
		font-weight: 500;
	}

	.error-zone {
		color: rgb(240, 22, 66);
		margin-top: 10px;

		div {
			padding-left: 13px;
			padding-bottom: 3px;
			width: 100%;

			&::before {
				content: '';
				display: inline-block;
				width: 4px;
				height: 4px;
				background: rgb(240, 22, 66);
				border-radius: 50%;
				position: relative;
				right: 10px;
				bottom: 3px;
			}
		}
	}

	fieldset {
		width: 100%;
		// min-height: 80vh;

		padding-top: 10px;
		padding-bottom: 50px;
		border: none;
		margin: 0 auto;
		background: var(--bgColor);
		font-family: var(--pointFont);

		form {
			.item {
				height: 50px;
				display: flex;
				align-items: center;

				.icon {
					width: 10%;
					font-size: 20px;
					opacity: 0.85;
				}
			}

			input[type='text'],
			input[type='password'] {
				width: 100%;
				margin-right: 2%;
				border-radius: 5px;

				&:focus {
					outline: 1.5px solid #111;
				}
			}

			.form-list {
				width: 100%;
				border: 1px solid #bbb;
				margin-top: 10px;
				border-radius: 7px;

				.genderContainer {
					ul {
						display: flex;
						justify-content: center;
						width: 100%;
						border-radius: 7px;

						li {
							width: 32%;
							display: flex;
							justify-content: center;
							align-items: center;
							border: 1px solid #ccc;

							&:hover {
								border: 1px solid #111;
							}

							label {
								display: flex;
								justify-content: center;
								padding: 10px 10%;
							}

							input {
								visibility: hidden;
								width: 0;
							}
						}

						.outline {
							background: #111;
							color: #fff;
						}
					}
				}
			}

			.error-zone {
				color: rgb(240, 22, 66);
				margin-top: 10px;

				div {
					padding-left: 13px;

					&::before {
						content: '';
						display: inline-block;
						width: 4px;
						height: 4px;
						background: rgb(240, 22, 66);
						border-radius: 50%;
						position: relative;
						right: 10px;
						bottom: 3px;
					}
				}
			}
		}
	}

	button {
		width: 100%;
		height: 50px;
		border: none;
		background: #111;
		color: #fff;
		font-weight: 500;
		font-size: 1.3rem;
		border-radius: 7px;

		&:hover {
			cursor: pointer;
		}
	}
}

.Mobile {
	.Signup {
		width: 100%;
		padding: 2% 1%;

		h1 {
			font-size: 2rem;
		}

		fieldset {
			width: 100%;
			padding-top: 20px;
		}
	}
}

/* 

*/
