// 로그인 페이지는 tablet 부터 반응형 처리를 합시다!
$metal: 45deg, #aaa 5%, #ccc 10%, #aaa 30%, #bbb 50%, #ccc 60%, #ddd 80%, #999 95%;

.Signup {
	display: flex;
	background: linear-gradient($metal);
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;

	fieldset {
		border: none;
		width: 700px;
		height: 70vh;
		background: #eee;
		color: var(--inputColor);
		padding: 20px 30px;

		h1 {
			font-size: 2.5rem;
			font-weight: 500;
		}

		form {
			margin-bottom: 50px;

			.text-input {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				row-gap: 20px;
				margin: 30px 0 40px 0;

				.input {
					width: 47%;
					height: 60px;

					label {
						font-size: 1.1rem;
						font-weight: 500;
						width: 100%;
						display: block;
						padding-bottom: 3px;
					}

					// 왜 reset 이 안먹는지 나중에 생각할 것
					input {
						width: 100%;
						background-color: #fff;

						&::placeholder {
							background-color: #fff;
						}
					}
				}
			}

			.else-input {
				margin-bottom: 40px;

				h3 {
					font-size: 1.3rem;
					font-weight: 600;
					margin-bottom: 13px;
				}

				.checkboxs {
					display: flex;
					justify-content: space-between;

					.checkbox {
						display: flex;
						gap: 8px;
						font-size: 1rem;
					}
				}
			}

			input[type='submit'] {
				width: 100%;
				padding: 15px 0;
				font-size: 1rem;
				color: #000;
				font-weight: 500;
				background: linear-gradient($metal);
				opacity: 0.7;
				cursor: pointer;
				transition: 0.3s;

				&:hover {
					opacity: 1;
				}
			}
		}

		.sns {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 10px;

			.google {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 25px;
				width: 40px;
				height: 40px;
				border: 1px solid #bbb;
				border-radius: 50%;
				cursor: pointer;
				transition: 0.3s;

				&:hover {
					border-color: #777;
				}
			}

			.kakao {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 25px;
				width: 40px;
				height: 40px;
				border: 1px solid #bbb;
				border-radius: 50%;
				cursor: pointer;
				transition: 0.3s;

				&:hover {
					border-color: #777;
				}
			}
		}
	}
}
