// 로그인 페이지는 tablet 부터 반응형 처리를 합시다!
$metal: 45deg, #aaa 5%, #ccc 10%, #aaa 30%, #bbb 50%, #ccc 60%, #ddd 80%, #999 95%;

.Signup {
	display: flex;
	background: linear-gradient($metal);
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;

	fieldset {
		border: none;
		width: 600px;
		height: 480px;
		background: #ddd;
		color: var(--inputColor);
		padding: 20px 30px;

		h1 {
			font-size: 2rem;
			font-weight: 500;
			padding-bottom: 5px;
			text-align: center;

			&:hover {
				cursor: pointer;
			}
		}
		// 위아래 간격은 위에서 padding 을 통해 제어하기로 합시다.
		form {
			width: 100%;

			.text-input {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				row-gap: 15px;
				padding-bottom: 30px;

				.input {
					width: 100%;
					height: 50px;

					label {
						font-size: 1rem;
						font-weight: 500;
						width: 100%;
						display: block;
						padding-bottom: 3px;

						strong {
							font-size: 0.9rem;
							font-weight: 500;
							color: var(--pointColor);
						}
					}

					input {
						width: 100%;
						background-color: #fff;

						&::placeholder {
							background-color: #fff;
						}

						&:focus {
							border: 1px solid #555;
						}
					}
				}
			}

			.else-input {
				padding-bottom: 10px;

				.reason {
					h3 {
						font-size: 1rem;
						font-weight: 600;
						padding-bottom: 2px;

						strong {
							font-size: 0.9rem;
							font-weight: 500;
							color: var(--pointColor);
						}
					}

					.checkboxs {
						display: flex;
						justify-content: space-between;

						label {
							position: relative;
							right: 15px;
							bottom: 3px;
						}
					}
				}
			}

			input[type='submit'] {
				width: 100%;
				padding: 10px 0;
				font-size: 1rem;
				color: #000;
				font-weight: 500;
				background: linear-gradient($metal);
				opacity: 0.7;
				cursor: pointer;
				transition: 0.3s;

				&:hover {
					opacity: 1;
				}
			}
		}

		.sns {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 10px;

			.google {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 25px;
				width: 40px;
				height: 40px;
				border: 1px solid #bbb;
				border-radius: 50%;
				cursor: pointer;
				transition: 0.3s;

				&:hover {
					border-color: #777;
				}
			}

			.kakao {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 25px;
				width: 40px;
				height: 40px;
				border: 1px solid #bbb;
				border-radius: 50%;
				cursor: pointer;
				transition: 0.3s;

				&:hover {
					border-color: #777;
				}
			}
		}
	}
}
