.Detail {
	.screen {
		width: 100%;
		height: 80vh;

		iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border: none;
		}
	}

	.text {
		padding: 3vh 0 15vh 0;
		display: flex;
		flex-direction: column;
		gap: 2vh;
		h3 {
		}

		p {
		}
	}
}
