.Youtube {
	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	p {
		font-size: 1rem;
	}

	span {
		font-size: 0.85rem;
	}
}

.Notebook {
	.Youtube {
		h2 {
			font-size: 1.5rem;
		}

		h3 {
			font-size: 1.2rem;
		}

		h4 {
			font-size: 1rem;
		}

		p {
			font-size: 0.8rem;
		}

		span {
			font-size: 0.7rem;
		}
	}
}

.Tablet {
	.Youtube {
		h2 {
			font-size: 1.8rem;
		}

		h3 {
			font-size: 1.5rem;
		}

		h4 {
			font-size: 1.5rem;
		}

		p {
			font-size: 1rem;
		}

		span {
			font-size: 0.85rem;
		}
	}
}

.Mobile {
	.Youtube {
		h2 {
			font-size: 1.8rem;
		}

		h4 {
			font-size: 1.2rem;
		}

		p {
			font-size: 1rem;
		}

		span {
			font-size: 0.7rem;
		}
	}
}

.Youtube-Section {
	padding: 7vh 0;

	.header {
		display: flex;
		padding: 3vh 0;
		justify-content: space-between;
		font-family: var(--pointFont);
	}
}

.Notebook {
	.Youtube-secondSection {
		p {
			font-size: 0.8rem;
			opacity: 0.9;
		}
	}
}

.Tablet,
.Mobile {
	.Youtube-secondSection {
		.header {
			h3 {
				display: none;
			}
		}

		article {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.video {
				display: block;
				width: 100%;
				padding-bottom: 2vh;

				.img {
					display: block;
					width: 100%;

					img {
						height: 30vh;
					}
				}

				.text {
					display: block;
					width: 100%;

					h4 {
						padding: 1vh 0;
					}

					.sub {
						position: relative;
						display: flex;
						justify-content: right;

						.time {
						}
					}
				}
			}

			.description {
				width: 100%;
				display: block;
			}
		}
	}
}
