.Sec1 {
	position: relative;
	height: 200vh;
	width: 100%;
	background: #dfdfdf;
	box-sizing: border-box;
	color: #333;

	span,
	h2 {
		font-family: var(--pointFont);
		font-weight: 300;
	}

	h2 {
		font-size: 4rem;
	}

	.wrap {
		width: 100%;
		height: 100%;
		padding: 0 5%;

		.item1 {
			position: relative;
			width: 90%;
			height: 27%;

			.left {
				position: absolute;
				top: 20%;
				left: 5%;
				width: 40%;
				height: 70%;
				display: flex;
				flex-direction: column;
				gap: 30px;

				.subtit {
					font-family: var(--pointFont);
					font-weight: 600;
					letter-spacing: 10px;
					padding-left: 20%;
				}

				.sec1Img {
					height: 100%;
				}
			}

			.right {
				position: absolute;
				top: 25%;
				right: 5%;
				width: 40%;
				display: flex;
				flex-direction: column;
				gap: 12px;

				.numbering {
					display: flex;
					align-items: baseline;
					opacity: 0.5;

					span {
						opacity: 0.8;
					}
				}

				.intro {
					display: flex;
					flex-direction: column;
					gap: 6px;

					p {
						line-height: 1.5;
						opacity: 0.9;
					}
				}

				.to {
					padding-top: 12px;
					font-weight: 500;
				}
			}
		}

		.item2 {
			position: relative;
			width: 90%;
			height: 27%;

			.left {
				position: absolute;
				top: 20%;
				left: 5%;
				width: 40%;
				height: 70%;
				display: flex;
				flex-direction: column;
				gap: 30px;

				.subtit {
					font-family: var(--pointFont);
					font-weight: 600;
					letter-spacing: 10px;
					padding-left: 20%;
				}

				.sec1Img {
					height: 100%;
				}
			}

			.right {
				position: absolute;
				top: 25%;
				right: 5%;
				width: 40%;
				display: flex;
				flex-direction: column;
				gap: 12px;

				.numbering {
					display: flex;
					align-items: baseline;
					opacity: 0.5;

					span {
						opacity: 0.8;
					}
				}

				.intro {
					display: flex;
					flex-direction: column;
					gap: 6px;

					p {
						line-height: 1.5;
						opacity: 0.9;
					}
				}

				.to {
					padding-top: 12px;
					font-weight: 500;
				}
			}
		}

		.item3 {
			position: relative;
			width: 90%;
			height: 27%;

			.left {
				position: absolute;
				top: 20%;
				left: 5%;
				width: 40%;
				height: 70%;
				display: flex;
				flex-direction: column;
				gap: 30px;

				.subtit {
					font-family: var(--pointFont);
					font-weight: 600;
					letter-spacing: 10px;
					padding-left: 20%;
				}

				.sec1Img {
					height: 100%;
				}
			}

			.right {
				position: absolute;
				top: 25%;
				right: 5%;
				width: 40%;
				display: flex;
				flex-direction: column;
				gap: 12px;

				.numbering {
					display: flex;
					align-items: baseline;
					opacity: 0.5;

					span {
						opacity: 0.8;
					}
				}

				.intro {
					display: flex;
					flex-direction: column;
					gap: 6px;

					p {
						line-height: 1.5;
						opacity: 0.9;
					}
				}

				.to {
					padding-top: 12px;
					font-weight: 500;
				}
			}
		}
	}
} //
