.Youtube-Card {
	width: 100%;
	border-bottom: 1px solid rgba(var(--baseColor-code), 0.3);
	padding-bottom: 2vh;
	margin-bottom: 2vh;
	height: 40vh;
	display: flex;
	justify-content: space-between;
}

.Notebook {
	.Youtue-Card {
		height: 40vh;
	}
}

// Tablet 부터는 Video 도 새로로 떨어진다. 1. 영상 2. title 3. arrow
.Tablet {
	.Youtube-Card {
		display: block;
		height: 40vh;
	}
}

.Mobile {
	.Youtube-Card {
		display: block;
		height: auto;
	}
}
