@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Nanum+Myeongjo&family=Noto+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Orbitron&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a,
div,
span {
	outline: 0;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;
}

p {
	line-height: 1.7;
	word-break: break-all;
	text-align: justify;
}

body {
	background: var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--pointFont);
}

h1 {
	font-size: 3.8rem;
	font-weight: var(--titWeight1);
}

h2 {
	font-size: 1.8rem;
	font-weight: var(--titWeight2);
}

h3 {
	font-size: 2rem;
	font-weight: var(--titWeight3);
}

h4 {
	font-size: 1.4rem;
	font-weight: var(--titWeight4);
}

h5 {
	font-size: 1.4rem;
	font-weight: var(--titWeight5);
}

h6 {
	font-size: 2.4rem;
	font-weight: var(--titWeight6);
}

.App {
	width: 100%;
	min-height: 100vh;
	color: var(--baseColor);
	font-family: var(--baseFont);
	font-size: var(--bodySize);
	font-weight: var(--bodyWeight);
	background: var(--bgColor);
	transition: color 1s background-color 1s;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		//scrollbar디자인 변경은 리액트에서 테마변경 이벤트가 발생했을때 scrollbar변경 이벤트도 일어나야 되기 때문에 react에서 관리하지 못하는 html요소의 scrollbar가 아닌 wrap요소에 스크롤바 생성
		width: 8px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background: #ccc;
	}
}
