@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Nanum+Myeongjo&family=Noto+Sans:wght@300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	outline: 0;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;
}

p {
	line-height: var(--bodyLineHeight);
}

body {
	background: var(--bgColor);
}

.App {
	width: 100%;
	min-height: 100vh;
	color: var(--baseColor);
	font-family: var(--baseFont);
	font-size: var(--bodySize);
	font-weight: var(--bodyWeight);

	&.dark {
	}
}
