:root {
	// fontFamily
	--baseFont: 'Noto Sans', sans-serif;
	--pointFont: 'Inter', sans-serif;
	// fontSize
	--titSize1: 3.8rem;
	--titSize2: 1.8rem;
	--titSize3: 2rem;
	--titSize4: 1.4rem;
	--titSize5: 1.4rem;
	--titSize6: 1.6rem;

	// fontWeight
	--titWeight1: 500;
	--titWeight2: 500;
	--titWeight3: 400;
	--titWeight4: 400;
	--titWeight5: 300;
	--titWeight6: 500;

	--bodySize: 15px;
	// fontEffect
	--bodyLineHeight: 1.7;
	--bodyWeight: 400;
	--titWeight: 300;
	--screenSize: 80vw;
	// color
	--baseColor: #333;
	--baseColor-code: 51, 51, 51;
	--pointColor: crimson;
	--bgColor: #efefef;
}
