body {
	// fontFamily
	--baseFont: 'Noto Sans', sans-serif;
	--pointFont: 'Roboto', sans-serif;
	// fontWeight
	--metal: 45deg, #aaa 5%, #ccc 10%, #aaa 30%, #bbb 50%, #ccc 60%, #ddd 80%, #999 95%;

	--bodySize: 15px;
	// fontEffect
	--bodyLineHeight: 1.7;
	--bodyWeight: 400;
	--titWeight: 300;
	--screenSize: 80vw;
	// color : 반응형 색의미도 갖고 있음
	--pointColor: crimson;
	--subPoint: #e59617;
	--baseColor: #333;
	--baseColor-code: 51, 51, 51;
	--bgColor: #efefef;
	--inputBgColor: #fff;
	--inputColor: #333;
	--placeholderColor: #666;
	--menuBgColor: #333;

	// mode viewSize
	--Tablet: 100%;
	--Mobile: 100%;
}

.dark {
	--baseColor: #efefef;
	--baseColor-code: 255, 255, 255;
	--bgColor: #333;
	--inputBgColor: #dfdfdf;
}
