.Gallery {
	--num: 4;
	--gap: 20px;
	--main: 3;

	h3 {
		font-size: 1.5rem;
		font-family: var(--pointFont);
		padding-bottom: 15px;
	}

	.gridContainer {
		width: 100%;
		height: 80vh;
		display: grid;
		grid-template-columns: 1fr 25%;
		grid-template-rows: 1fr 1fr;
		column-gap: 20px;
		row-gap: 20px;
		margin-bottom: 200px;

		.bestImage {
			position: relative;
			z-index: 0;
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			background: #111;
			width: 100%;
			height: 100%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 0 -30px;
			}

			.small-txt {
				position: absolute;
				z-index: 5;
				top: 3%;
				left: 3%;
				color: #fff;
				font-weight: 400;
				font-family: var(--pointFont);
			}

			.big-txt {
				position: absolute;
				z-index: 5;
				bottom: 3%;
				left: 3%;
				color: #fff;
				font-size: 3.5rem;
				font-weight: 400;
				font-family: var(--pointFont);
			}
		}

		.card {
			border-top: 1px solid rgba(var(--baseColor-code), 0.3);

			.user {
				padding: 10px 0;
				display: flex;
				justify-content: space-between;

				.more {
					position: relative;
					top: 2px;
				}

				.userid {
					strong {
						font-weight: 500;
						color: var(--subPoint);
					}
				}
			}
		}

		.fixedCard1 {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			overflow: hidden;
		}

		.fixedCard2 {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
			overflow: hidden;
		}
	}

	.cardFrame {
		.card {
			border-top: 1px solid rgba(var(--baseColor-code), 0.3);
			width: calc((100% - var(--gap) * (var(--num) - 1)) / var(--num));
			height: 75vh;
			overflow: hidden;

			.user {
				padding: 10px 0;
				display: flex;
				justify-content: space-between;

				strong {
					font-weight: 500;
					color: var(--subPoint);
				}

				.more {
					position: relative;
					top: 2px;
				}
			}

			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

.Notebook {
	.Gallery {
		--num: 3;
	}
}

.Tablet {
	.Gallery {
		--num: 2;

		article {
			margin-bottom: 5vh;
		}
	}
}

.Mobile {
	.Gallery {
		--num: 1;

		article {
			margin-bottom: 5vh;
		}
	}
}

/* 

	.icons {
		font-size: 18px;
	}
	
	.frameWrap {
		position: relative;
		padding-bottom: 8vh;

		.back {
			position: absolute;
			right: 0;
			top: -33px;
			display: flex;
			align-items: center;
			gap: 8px;
			transition: 0.3s;

			&:hover {
				cursor: pointer;
				color: var(--subPoint);
			}
		}

		.frame {
			display: flex;
			flex-wrap: wrap;

			article {
				width: calc((100% - var(--gap) * (var(--num) - 1)) / var(--num));
				border-top: 1px solid rgba(var(--baseColor-code), 0.3);
				height: 50vh;
				margin-bottom: 3vh;

				.txt {
					.services {
						padding: 5px 0;
						display: flex;
						justify-content: space-between;

						.info {
							span:nth-of-type(1) {
								color: #e59617;
								font-weight: 500;
							}

							span:nth-of-type(2) {
								cursor: pointer;
							}
						}

						.more {
							position: relative;

							.noti {
								position: absolute;
								text-align: center;
								transform: translateX(-92%) translateY(-200%);
								border: 1px solid #e59617;
								background: var(--bgColor);
								border-radius: 5px 5px 5px 5px;
								padding: 5px;
								visibility: hidden;

								&::before {
									content: '';
									width: 0;
									height: 0;
									position: absolute;
									right: 3%;
									top: 100%;
									border-left: 25px solid transparent;
									border-right: 25px solid #f1b048;
									border-bottom: 10px solid transparent;
									border-top: 10px solid #f1b048;
								}

								&:hover {
									visibility: visible;
								}
							}

							svg:hover {
								cursor: pointer;
							}

							&::before {
								content: '';
								width: 0;
								height: 0;
							}
						}
					}

					h3 {
						padding: 10px 0;
						font-size: 1.5rem;
						font-weight: 600;
					}
				}

				img {
					width: 100%;
					max-height: 70%;
					object-fit: contain;

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}


*/
