.Gallery {
	--num: 4;
	--gap: 20px;
	--main: 3;

	.mainLayout {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);

		.bestImg {
			width: calc((100% - var(--gap) * (var(--num) - 1)) / 4 * 3);
			height: 70vh;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.fixedImg {
			width: calc((100% - var(--gap) * (var(--num) - 1)) / 4);
			height: 35vh;
		}
	}

	.subLayout {
	}
}

.Notebook {
	.Gallery {
		--num: 3;
	}
}

.Tablet {
	.Gallery {
		--num: 2;

		article {
			margin-bottom: 5vh;
		}
	}
}

.Mobile {
	.Gallery {
		--num: 1;

		article {
			margin-bottom: 5vh;
		}
	}
}

/* 

	.icons {
		font-size: 18px;
	}
	
	.frameWrap {
		position: relative;
		padding-bottom: 8vh;

		.back {
			position: absolute;
			right: 0;
			top: -33px;
			display: flex;
			align-items: center;
			gap: 8px;
			transition: 0.3s;

			&:hover {
				cursor: pointer;
				color: var(--subPoint);
			}
		}

		.frame {
			display: flex;
			flex-wrap: wrap;

			article {
				width: calc((100% - var(--gap) * (var(--num) - 1)) / var(--num));
				border-top: 1px solid rgba(var(--baseColor-code), 0.3);
				height: 50vh;
				margin-bottom: 3vh;

				.txt {
					.services {
						padding: 5px 0;
						display: flex;
						justify-content: space-between;

						.info {
							span:nth-of-type(1) {
								color: #e59617;
								font-weight: 500;
							}

							span:nth-of-type(2) {
								cursor: pointer;
							}
						}

						.more {
							position: relative;

							.noti {
								position: absolute;
								text-align: center;
								transform: translateX(-92%) translateY(-200%);
								border: 1px solid #e59617;
								background: var(--bgColor);
								border-radius: 5px 5px 5px 5px;
								padding: 5px;
								visibility: hidden;

								&::before {
									content: '';
									width: 0;
									height: 0;
									position: absolute;
									right: 3%;
									top: 100%;
									border-left: 25px solid transparent;
									border-right: 25px solid #f1b048;
									border-bottom: 10px solid transparent;
									border-top: 10px solid #f1b048;
								}

								&:hover {
									visibility: visible;
								}
							}

							svg:hover {
								cursor: pointer;
							}

							&::before {
								content: '';
								width: 0;
								height: 0;
							}
						}
					}

					h3 {
						padding: 10px 0;
						font-size: 1.5rem;
						font-weight: 600;
					}
				}

				img {
					width: 100%;
					max-height: 70%;
					object-fit: contain;

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}


*/
