.Partners {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5px;

	span {
		width: 100%;
		display: flex;
		align-items: center;
		color: rgba(var(--baseColor-code), 0.5);
		padding: 13px 0;
		border-bottom: 1px solid rgba(var(--baseColor-code), 0.3);
	}

	span:nth-of-type(2) {
		color: rgba(var(--baseColor-code), 1);
		font-weight: 600;
	}

	.card {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 160px;
		height: 100px;
		background: black;
		color: #fff;
		right: 10%;
		top: 6%;
		transition: 0.3s;
	}
}
