main {
	width: 80vw;
	margin: 0 auto;
	position: relative;

	.title {
		padding: 2.5vh 0;
		width: 80%;
	}

	.null {
		padding: 0;
	}
}

.Notebook {
	.title {
		font-size: 2.2rem;
		font-weight: 400;
		width: 90%;
	}
}

.Tablet {
	main {
		.title {
			font-size: 2rem;
			font-weight: 400;
			width: 90%;
		}
	}
}

.Mobile {
	main {
		.title {
			font-size: 1.5rem;
			font-weight: 500;
			width: 100%;
		}
	}
}
