.CookieModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 60px 50px 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 5;
	color: var(--bgColor);
	background-color: var(--baseColor);

	* {
		color: inherit;
	}

	.cookie-icon {
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 70px;
			height: 70px;
		}
	}

	.cookie-content {
		text-align: center;
		word-break: keep-all;
	}

	.buttons {
		color: var(--baseColor);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: 10px;

		button {
			width: 60%;
			padding: 10px 10px;
			border: none;
			cursor: pointer;
			font-weight: 500;
			color: var(--baseColor);
			background-color: var(--bgColor);

			&:hover {
			}
		}
	}
}
