.GetTouchSection {
	margin-top: 80px;
	width: 100%;
	height: 400px;

	p {
		opacity: 0.6;
	}

	.introduce {
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			font-size: 2.5rem;
			padding-bottom: 10px;
		}

		p {
			width: 580px;
			text-align: center;
		}
	}

	.infos {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		margin-top: 50px;

		.info {
			width: 30%;

			.iconBox {
				width: 60px;
				height: 70px;
				margin: 0 auto;
				color: #007bff;

				svg {
					width: 100%;
					height: 100%;
				}
			}

			.txtBox {
				text-align: center;
				h3 {
					padding-bottom: 5px;
					font-size: 1.7rem;
				}

				p {
					margin: 0 auto;
					text-align: center;
				}
			}
		}
	}
}

.Tablet {
	.GetTouchSection {
		.infos {
			width: 85%;
			.info {
				display: block;

				.iconBox {
					width: 50px;
					height: 70px;
					margin: 0 auto;
				}
				.txtBox {
					text-align: center;

					p {
						text-align: center;
					}
				}
			}
		}
	}
}

.Mobile {
	.GetTouchSection {
		height: 500px;
		margin-top: 50px;
		.introduce {
			h1 {
				font-size: 1.6rem;
			}
			p {
				word-break: keep-all;
				width: 300px;
			}
		}

		.infos {
			display: block;
			margin-top: 20px;

			.info {
				margin-left: -5vw;
				display: flex;
				width: 100%;
				justify-content: left;

				.iconBox {
					width: 40px;
					height: 100px;
					font-size: 30px;
				}

				.txtBox {
					text-align: left;
					width: 70%;

					h3 {
						font-size: 1.1rem;
					}

					p {
						font-size: 0.9rem;
						text-align: left;
					}
				}
			}
		}
	}
}
