.Form {
	width: 100%;
	position: relative;
	margin-bottom: 5vh;

	label {
		display: block;
		padding: 10px 0 5px 0;
	}

	.profile {
		display: flex;
		justify-content: space-between;

		input[type='text'] {
			width: 100%;
			border: 1px solid #ddd;
			padding: 5px 10px;
		}

		.address {
			width: 49%;
		}

		.name {
			width: 49%;
		}
	}

	.message {
		width: 100%;
		height: 40%;

		textarea {
			padding: 5px 10px;
			width: 100%;
			height: 250px;
			border: 1px solid #ddd;
		}
	}

	.submit {
		display: flex;
		justify-content: right;

		input[type='submit'] {
			margin: 3vh 0;
			width: 60px;
			height: 40px;
			// color: var(--baseColor);
			border: 1px solid rgba(var(--baseColor-code), 0.3);
			cursor: pointer;
			transition: 0.3s;
		}

		// &:hover {
		// 	color: var(--subPoint);
		// 	border-color: var(--subPoint);
		// }
	}
}

.NoteBook {
}

.Tablet {
}

.Mobile {
}
