.Form {
	width: 100%;
	height: 50vh;
	position: relative;

	label {
		display: block;

		padding: 10px 0 5px 0;
	}

	.profile {
		display: flex;
		justify-content: space-between;

		input[type='text'] {
			width: 100%;
			border: 1px solid #ddd;
			padding: 5px 10px;
		}

		.address {
			width: 49%;
		}

		.name {
			width: 49%;
		}
	}

	textarea {
		padding: 5px 10px;
		width: 100%;
		height: 100%;
		border: 1px solid #ddd;
	}

	.message {
		width: 100%;
		height: 40%;
	}

	.submit {
		color: var(--baseColor);
		width: 80px;
		height: 42px;
		position: absolute;
		bottom: 20%;
		right: 0;
		background-color: transparent;
		border: 1px solid rgba(var(--baseColor-code), 0.3);
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			color: var(--subPoint);
			border-color: var(--subPoint);
		}
	}
}
