.Form {
	width: 100%;
	position: relative;
	padding: 0vh 8vw 5vh;

	label {
		display: block;
		padding: 10px 0 5px 0;
	}

	.hidden {
		position: absolute;
		top: 0;
		left: -1000px;
	}

	.profile {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		.message {
			width: 100%;
			display: flex;
			justify-content: center;

			textarea {
				width: 100%;
				margin-bottom: 30px;
			}
		}

		.address {
			width: 48%;

			input {
				width: 100%;
			}
		}

		.name {
			width: 48%;

			input {
				width: 100%;
			}
		}
	}

	.submit {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 30px;

		input {
			width: 100%;
			padding: 8px 0;
			color: var(--bgColor);
			font-weight: 500;
			background-color: var(--baseColor);
			border-radius: 30px;
			cursor: pointer;
		}
	}
}

.NoteBook {
}

.Tablet {
}

.Mobile {
}
