.Header {
	width: 100%;
	padding: 1.5vh 10vw;
	// 반응형에 벗어나게 만듦
	background: #333;
	color: #efefef;
	position: sticky;
	top: 0;
	z-index: 1000;
	// variable 처리하기

	// 반응형 처리하고 싶은 요소가 있다면 전역변수를 사용해라
	border-bottom: 1px solid rgba(var(--baseColor-code), 0.4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

	h1 {
		font-size: 1.8rem;
		font-weight: 400;
	}

	ul {
		display: flex;
		gap: 50px;
		align-items: center;

		a.on {
			color: var(--pointColor);
			font-weight: bold;
		}
	}

	.darkmode {
		svg {
			&:hover {
				cursor: pointer;
			}
		}
	}

	.icons {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		gap: 20px;

		.signup {
			position: relative;
			top: 2px;
			border: 1px solid #efefef;
			padding: 3px 15px;
			border-radius: 50px;

			&.on {
				font-weight: bold;
				color: var(--pointColor);
				border-color: var(--pointColor);
				outline: 1px solid var(--pointColor);
			}
		}
	}
}

.Tablet,
.Mobile {
	.Header {
		padding: 1.5vh 5vw;
		ul {
			display: none;
		}
		.icons {
			display: flex;
			gap: 20px;
		}
	}
}

.Mobile {
}
