.Header {
	width: 100%;
	padding: 1.5vh 10vw;
	// 반응형에 벗어나게 만듦
	background: #333;
	color: #efefef;
	position: sticky;
	top: 0;
	z-index: 10;
	// variable 처리하기

	// 반응형 처리하고 싶은 요소가 있다면 전역변수를 사용해라
	border-bottom: 1px solid rgba(var(--baseColor-code), 0.4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

	h1 {
		font-size: 1.8rem;
		font-weight: 400;
	}

	ul {
		display: flex;
		gap: 50px;
		align-items: center;

		a.on {
			color: var(--pointColor);
			font-weight: bold;
		}
	}

	.icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
		gap: 20px;

		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 30px;
			cursor: pointer;
		}

		// icon 과 signup 의 비율은 2:1
		.signup {
			position: relative;
			font-size: 15px;
			border: 1px solid #efefef;
			padding: 3px 15px;
			border-radius: 50px;
		}
	}
}

.Notebook {
}

.Tablet {
	.Header {
		width: 100%;
		ul {
			display: none;
		}
	}
}

.Mobile {
	.Header {
		padding: 1.2vh 3vw;

		h1 {
			font-size: 1.3rem;
		}
		ul {
			display: none;
		}
		.icons {
			gap: 10px;
			position: relative;
			top: 1px;

			.icon {
				font-size: 20px;
			}

			.signup {
				position: relative;
				font-size: 0.8rem;
				top: 0px;
				border: 1px solid #efefef;
				padding: 1px 5px;
				border-radius: 50px;
			}
		}
	}
}
