.Movies {
	width: 100%;
	height: calc(100vh - 60px);
	position: relative;
	overflow: hidden;

	.parallax-bg {
		width: 100%;
		opacity: 1;
		filter: saturate(0.3);
	}

	.swiper {
		width: 100%;
		height: 100%;
		background: #111;
		overflow: hidden;
		position: relative;

		.swiper-pagination {
			bottom: 5%;
		}

		video {
			height: 100%;
			object-fit: cover;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.5); /* 검은색 배경에 50% 투명도 */
				z-index: -1;
			}
		}

		.swiper-wrapper {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			.swiper-slide {
				color: black;
				height: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: left;

				.mainCard {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					.wrap {
						background-color: rgba(255, 255, 255, 0.3);
						width: 80%;
						height: 60%;
						position: relative;
						display: flex;
						box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

						.text {
							width: 50%;
							height: 100%;
							padding: 10vh 5%;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							position: relative;

							.title {
								font-size: 2rem;
								font-weight: 500;
								line-height: 1;
							}

							.desc {
								font-size: 0.9rem;
								opacity: 0.8;
							}

							button {
								font-size: 0.8rem;
								width: 100px;
								height: 30px;
								border: none;
								color: #fff;
								background: var(--baseColor);
								cursor: pointer;
								transition: 0.3s;

								&:hover {
									color: var(--subPoint);
								}
							}
						}

						img {
							width: 50%;
							height: 100%;
						}
					}
				}
			}
		}
	}
}

.Tablet {
	.Movies {
		height: calc(100vh - 30px);
		.wrap {
			display: block;
		}
	}
}

.Mobile,
.Tablet {
	.Movies {
		width: 100%;
		height: calc(100vh - 50px);
		.swiper {
			.swiper-pagination {
				bottom: 3%;
			}

			.swiper-wrapper {
				.swiper-slide {
					.mainCard {
						.wrap {
							display: block;
							width: 75%;
							height: 70%;

							.text {
								width: 100%;
								height: 50%;
								padding: 5vh 5%;

								.title {
									font-size: 1.3rem;
								}

								.desc {
									font-size: 0.9rem;
									display: -webkit-inline-box;
									-webkit-line-clamp: 3;
									-webkit-box-orient: vertical;
									overflow: hidden;
									overflow-wrap: break-word;
								}

								.button {
								}
							}

							img {
								width: 100%;
								height: 50%;
							}
						}
					}
				}
			}
		}
	}
}
