.Btns {
	position: fixed;
	top: calc(55% - 5px);
	right: 8vw;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	gap: 25px;

	li {
		width: 10px;
		height: 10px;
		background: var(--baseColor);
		border-radius: 5px;
		transition: 0.3s;
		cursor: pointer;

		&.on {
			background: var(--subPoint);
			height: 100px;
		}
	}
}
