.Department {
	width: 80vw;
	margin: 0 auto;

	&-firstSection {
		.header {
			h1 {
				padding: 4vh 0;
				width: 70%;
			}
			.mainImage {
				width: 100vw;
				margin-left: -10vw;
				height: 45vh;
				object-fit: cover;
				object-position: 0 -400px;
			}
		}

		.body {
			display: flex;
			margin: 7vh 0;

			h2 {
				width: 50%;
				padding-right: 10%;
				line-height: 1.5;
				font-size: 1.8rem;
			}

			div {
				width: 50%;

				p:nth-child(1) {
					padding-bottom: 5vh;
				}

				.cards {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					.card {
						width: 45%;
						padding: 5vh 0;
						border-top: 1px solid rgba(var(--baseColor-code), 0.4);

						h4 {
							width: 60%;
							padding-bottom: 1.3vh;
						}
					}
				}
			}
		}
	}

	&-secondSection {
		width: 100%;
		padding: 30px 0 100px 0;
		border-top: 1px solid rgba(var(--baseColor-code), 0.4);

		h2 {
			display: inline-block;
			width: 200px;
			margin-top: 2vh;
		}

		.container {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-content: space-between;
			flex-wrap: wrap;
			row-gap: 6vh;
			margin: 4vh 0;

			.card {
				width: 24%;
				overflow: hidden;

				img {
					object-fit: cover;
					width: 100%;
					height: 40vh;
				}

				.text {
					padding-top: 1vh;
				}
			}
		}
	}

	&-thirdSection {
		border-top: 1px solid rgba(var(--baseColor-code), 0.4);
		padding-top: 30px;
		padding-bottom: 100px;

		.awards-table {
			text-align: left;
			width: 100%;
			margin-top: 4vh;

			tr {
				padding: 10px 0;
			}

			thead {
				display: block;
				width: 100%;

				tr {
					display: flex;
					width: 100%;

					th {
						flex: 1;
					}
				}
			}

			tbody {
				display: block;
				width: 100%;

				tr {
					display: flex;
					width: 100%;
					border-top: 1px solid rgba(var(--baseColor-code), 0.4);

					td {
						padding-right: 20px;
						flex: 1;
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}

.Tablet {
	.Department {
		h3 {
			font-size: 2rem;
			font-weight: 500;
			padding: 0;
		}

		&-secondSection {
			.container {
				.card {
					width: 48%;

					img {
						height: 40vh;
					}
				}
			}
		}
	}
}

.Mobile {
	.Department {
		h3 {
			font-size: 1.8rem;
			font-weight: 500;
			padding: 0;
		}

		&-secondSection {
			padding-bottom: 7vh;
			.container {
				.card {
					width: 100%;

					img {
						width: 100%;
						height: 70vh;
						padding-bottom: 5px;
					}
				}
			}
		}

		&-thirdSection {
			.awards-table {
				tr {
					padding: 10px 0;
				}

				thead {
					display: block;
					width: 100%;

					tr {
						display: flex;
						width: 100%;

						th {
							text-align: center;
							flex: 1;
						}
					}
				}

				tbody {
					display: block;
					width: 100%;

					tr {
						display: flex;
						width: 100%;

						td {
							width: 25%;
							padding-right: 0;
							padding: 5px;
							word-break: break-all;
						}
					}
				}
			}
		}
	}
}
