.Linetext {
	font-family: var(--pointFont);
	position: absolute;
	left: 10%;
	top: 100px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.subtit1 {
		letter-spacing: 15px;
		font-weight: 600;
	}

	.subtit2 {
		font-size: 0.5rem;
		letter-spacing: 2px;
		font-weight: 500;
		opacity: 0.5;
	}
}

.Tablet {
	.Linetext {
		.subtit1 {
			letter-spacing: 10px;
			font-weight: 600;
		}
	}
}

.Mobile {
	.Linetext {
		top: 40px;
		width: 90%;
		left: 5%;

		.subtit1 {
			font-size: 0.8rem;
			font-weight: 600;
			letter-spacing: 3px;
		}

		.subtit2 {
			font-size: 0.4rem;
		}
	}
}
