.Card {
	width: 30%;
	padding-bottom: 20px;

	.icon {
		width: 50px;
		height: 50px;
		opacity: 0.5;
	}

	h3 {
		font-size: 2rem;
		padding: 5% 0 1.5% 0;
	}

	p {
	}
}

.Notebook {
	.Card {
		width: 30%;
		padding-bottom: 20px;

		.icon {
			width: 45px;
			height: 45px;
			opacity: 0.5;
		}

		h3 {
			font-size: 1.8rem;
			padding-bottom: 3%;
		}

		p {
		}
	}
}

.Tablet,
.Mobile {
	.Card {
		width: 48%;
	}
	h3 {
		font-size: 1.2rem;
		padding: 5% 0 3% 0;
	}
}

.Mobile {
	.Card {
		width: 46%;
		display: -webkit-box;
		-webkit-line-clamp: 51;
		-webkit-box-orient: vertical;
		overflow: hidden;

		.icon {
			width: 30px;
			height: 30px;
		}

		h3 {
		}

		p {
			font-size: 0.9rem;
		}
	}
}
