.Community {
	input,
	textarea {
		width: 100%;
		margin-bottom: 15px;
	}

	.body {
		display: flex;
		margin-top: 50px;

		.createPost {
			width: 30%;
			margin-right: 5%;

			nav {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				gap: 20px;

				button {
					border: none;
					background: transparent;
					cursor: pointer;
					font-size: 1rem;
					color: var(--baseColor);
					transition: 0.15s;
					font-size: 0.9rem;

					&:hover {
						color: var(--subPoint);
					}
				}
			}
		}

		.posts {
			width: 65%;
			display: flex;
			justify-content: right;
			flex-wrap: wrap;
			gap: 10px;
			margin-bottom: 10vh;

			.post {
				padding: 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
				height: 200px;
				border-top: 1px solid rgba(var(--baseColor-code), 0.3);

				.posting {
					// Edit Mode 의 css, Read Mode 의 css 를 만들어라
					h4 {
						font-weight: 400;
						font-size: 1.3rem;
						padding-bottom: 3vh;
					}

					// editMode
					input {
						width: 100%;
					}

					textarea {
						width: 100%;
					}
				}

				.profile {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 20px;
					font-size: 0.8rem;

					.left {
						display: flex;
						align-items: center;

						span:nth-of-type(1) {
							color: var(--baseColor);
							strong {
								color: var(--subPoint);
								font-weight: 400;
							}
						}
					}

					.right {
						display: flex;
						align-items: center;
						gap: 20px;

						span {
							position: relative;
							top: 4px;
							left: 8px;
							&:hover {
								cursor: pointer;
							}
						}

						span:nth-of-type(1) {
							top: 2px;

							&:hover {
								cursor: default;
							}
						}
					}
				}
			}
		}
	}
}

.Notebook {
	.Community {
		header {
			height: 380px;
		}
	}
}

.Tablet,
.Mobile {
	.Community {
		header {
			height: 250px;
			margin-bottom: 30px;
		}

		.body {
			flex-direction: column;

			.createPost {
				width: 100%;
				margin-bottom: 20px;
			}

			.posts {
				width: 100%;

				.post {
					height: 23vh;
				}
			}
		}
	}
}

.Mobile {
	.Community {
		width: 100%;
		padding: 0 2%;

		header {
			height: 150px;
		}

		// createPost 와 posts 는 width 100% 가 적용된 상태들
		.createPost {
		}

		.body {
			.posts {
				.post {
					height: 30vh;

					.profile {
						font-size: 0.7rem;
						position: relative;
						gap: 0px;
						top: 10px;

						.left {
							position: relative;
							top: 2px;
						}

						.right {
							.icon {
								font-size: 0.8rem;
							}
						}
					}
				}
			}
		}
	}
}
