.Pics {
	width: 100%;
	height: 100vh;
	background: #bbb;
	position: relative;
	padding: 10vw;

	.tit {
		font-size: 8rem;
		color: #111;
	}

	.tit2 {
		display: flex;
		justify-content: right;
		color: #333;
		font-size: 6rem;
	}

	.tit3 {
		padding-top: 4vh;
		font-size: 9rem;
		color: var(--subPoint);
		font-weight: 500;
	}
}
