.Contact {
	header {
		width: 100%;
		overflow: visible;
		display: flex;
		flex-direction: column;
		gap: 6px;

		.mapBox {
			position: relative;
			width: 100vw;
			margin-left: -10vw;
			top: -5vh;
			height: 40vh;
		}
	}

	.map-list {
		display: flex;
		justify-content: space-between;

		.map {
			width: 27%;
			height: 200px;
			background: #25323b;
			color: #fff;

			button {
				border: none;
				position: relative;
				padding: 15px;
				left: 25px;
				bottom: 15px;
				background: var(--subPoint);
				font-size: 1.1rem;
				cursor: pointer;
				transition: 0.2s;

				&:hover {
					color: var(--pointColor);
				}
			}

			.info {
				position: relative;
				width: calc(100% - 25px);
				height: 200px - 35px;
				padding-right: 25px;
				left: 25px;
				bottom: 22px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 5px;
			}
		}
	}

	.mail-title {
		font-family: var(--pointFont);
		width: 100%;
		text-align: center;
		margin-top: 10vh;
		margin-bottom: 3vh;

		h2 {
			font-size: 2.3rem;
			font-weight: 500;
		}
	}
}
