.Contact {
	header {
		width: 100%;
		overflow: visible;
		display: flex;
		flex-direction: column;
		gap: 6px;

		.mapBox {
			position: relative;
			width: 100vw;
			margin-left: -10vw;
			top: -5vh;
			height: 450px;
		}
	}

	.map-list {
		display: flex;
		justify-content: space-between;

		.map {
			width: 27%;
			height: 200px;
			background: #25323b;
			color: #fff;

			button {
				border: none;
				position: relative;
				padding: 15px;
				left: 25px;
				bottom: 15px;
				background: var(--subPoint);
				font-size: 1.1rem;
				cursor: pointer;
				transition: 0.2s;

				&:hover {
					color: var(--pointColor);
				}
			}

			.info {
				position: relative;
				width: calc(100% - 25px);
				height: 200px - 35px;
				padding-right: 25px;
				left: 25px;
				bottom: 22px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 5px;
			}
		}
	}

	.mail-title {
		font-family: var(--pointFont);
		width: 100%;
		text-align: center;
		margin-top: 10vh;
		margin-bottom: 3vh;

		h2 {
			font-size: 2.3rem;
			font-weight: 500;
		}
	}
}

.Notebook {
	.Contact {
		header {
			.mapBox {
				margin-left: -10vw;
				height: 400px;
			}
		}

		.map-list {
			padding-top: 40px;

			.map {
				width: 29%;

				.info {
					font-size: 0.8rem;
					gap: 10px;
				}
			}
		}

		.mail-title {
			h2 {
				font-size: 2rem;
			}
		}
	}
}

.Tablet {
	.Contact {
		header {
			.mapBox {
				margin-left: -10vw;
				height: 400px;
			}
		}

		.map-list {
			padding-top: 10px;
			display: flex;
			flex-direction: column;
			gap: 20px;

			.map {
				width: 100%;
				height: 100px;
				margin-bottom: 10px;
				font-size: 0.8rem;

				.info {
					position: relative;
					width: 100%;
					height: 100px;
					padding-right: 25px;
					left: 20%;
					bottom: 52px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 5px;
				}
			}
		}

		.mail-title {
			margin-top: 4vh;
			h2 {
				font-size: 2rem;
			}
		}
	}
}

.Mobile {
	.Contact {
		header {
			.mapBox {
				margin-left: -2.5vw;
				height: 45vh;
			}
		}

		h3 {
			font-size: 1rem;
			padding-bottom: 10px;
		}

		.map-list {
			padding-top: 15px;
			display: flex;
			flex-direction: column;
			gap: 20px;

			.map {
				width: 100%;
				height: 100px;
				margin-bottom: 10px;

				button {
					border: none;
					position: relative;
					padding: 12px;

					left: 15px;
					bottom: 15px;
					background: var(--subPoint);
					font-size: 0.9rem;
					cursor: pointer;
					transition: 0.2s;

					&:hover {
						color: var(--pointColor);
					}
				}

				.info {
					position: relative;
					width: 70%;
					height: 125px;

					left: 27%;
					bottom: 54px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 5px;
					font-size: 0.8rem;
				}
			}
		}

		.mail-title {
			margin-top: 10vh;
			h2 {
				font-size: 2rem;
			}
		}
	}
}
