.Contact {
	header {
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 6px;

		img {
			width: 100%;
			height: 40vh;
			object-fit: cover;
		}
	}

	.mapBox {
		width: 100%;
		height: 40vh;
	}

	.info {
		display: flex;
		justify-content: space-between;
		margin: 5vh 0;

		.txt-info {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 40%;
			height: 25vh;

			&-header {
				display: flex;
				flex-direction: column;
				gap: 8px;
				font-weight: 500;

				h2 {
					font-weight: 500;
				}
			}

			&-body {
				display: flex;
				flex-direction: column;
				gap: 8px;
			}

			&-footer {
				display: flex;
				width: 100%;
				justify-content: flex-start;
				gap: 20px;

				span {
					border: 1px solid rgba(var(--baseColor-code), 0.3);
					padding: 10px;
					cursor: pointer;
					transition: 0.3s;

					&:hover {
						color: var(--subPoint);
						border-color: var(--subPoint);
					}
				}
			}
		}
	}
}
