footer {
	color: #eee;
	width: 100%;
	margin: 0 auto;
	padding: 3vh 10vw;
	border-top: 1px solid rgba(var(--baseColor-code), 0.4);
	background: #333;

	.logo {
		transition: 0.3s;
		h6 {
			text-transform: uppercase;
			display: flex;
			line-height: 1;
		}

		&:hover {
			color: var(--subColor);
			border-color: var(--subColor);
		}
	}

	ul {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 5vh 0;
		text-transform: uppercase;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		li {
			letter-spacing: 1px;
			line-height: 1.7;

			&:hover {
				cursor: pointer;
			}

			div {
				transition: 0.3s;

				&:hover {
					color: var(--subColor);
					border-color: var(--subColor);
				}
			}
		}
	}
	.bottom {
		padding: 7vh;
		text-align: center;
		width: 100%;

		.sns {
			display: flex;
			justify-content: center;
			gap: 10px;
			padding-bottom: 1vh;

			.icon {
				width: 35px;
				height: 35px;
				border: 1px solid #ccc;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				transition: 0.3s;

				&:hover {
					cursor: pointer;
					color: var(--subColor);
					border-color: var(--subColor);
				}
			}
		}
	}
}

.Notebook {
}

.Tablet {
	footer {
		padding: 3vh 5vw;
	}
}

.Mobile {
	footer {
		padding: 3vh 5vw;
		h6 {
			display: flex;
			justify-content: center;
			padding: 0;
			margin: 0;
			line-height: 1.3;
		}

		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 20px;

			div {
				line-height: 2;
			}
		}
	}
}
